{% extends 'users/base.html' %}
{% load static %}

{%block css%}
<link href="{% static 'vendor\css\login.css' %}" rel="stylesheet">
{%endblock%}

{%block content%}
<main>
    <h1>Логин</h1>
    <form action="{%url 'users:login'%}" , method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>

        {{form.username}}

        <label for="password">Пароль:</label>

        {{form.password}}

        <button type="submit">Войти</button>
        <p class="register-link">Нет аккаунта? <a href="{%url 'users:registration'%}">Зарегистрируйтесь</a></p>
    </form>
</main>
{%endblock%}