{% extends 'users/base.html'%}
{%load static%}

{%block css%}
<link href="{% static 'vendor\css\registration.css' %}" rel="stylesheet">
{%endblock%}

{%block content%}
<main>
    <h1>Регистрация</h1>
    <form action="{%url 'users:registration'%}", method="post">
        {% csrf_token %}
        <label for="fullname">Полное имя:</label>
        {{form.first_name}}

        <label for="surname">Фамилия:</label>
        {{form.last_name}}

        <label for="username">Имя пользователя:</label>
        {{form.username}}

        <label for="email">Email:</label>
        {{form.email}}

        <label for="password">Пароль:</label>
        {{form.password1}}

        <label for="confirmPassword">Подтверждение пароля:</label>
        {{form.password2}}

        <button type="submit">Зарегистрироваться</button>

        <p class="login-link">Уже есть аккаунт? <a href="{%url 'users:login'%}">Войти</a></p>
    </form>
</main>
{%endblock%}
